<template>
  <div
    class="c-loginForm w-full max-w-md ml-auto mr-auto mt-20 bg-bgSecondary rounded rounded-2xl"
  >
    <form class="px-8 pt-6 pb-8 mb-4" @keydown.enter="login()">
      <NuxtLink to="/">
        <img
          src="https://biinsight.pl/images/logo/BI-Insight-logo.png"
          class="w-24 mb-11 mt-5 lg:w-[138px] ml-auto mr-auto"
          alt="BI Insight"
        />
      </NuxtLink>
      <p class="text-center font-bold mb-8 text-3xl">
        {{ $t('common.login') }}
      </p>
      <div class="mb-4">
        <input
          v-model="loginForm.email"
          class="p-3 mb-4 w-full border border-border"
          name="email"
          :placeholder="$t('forms.email')"
          @change="toLowerCaseLoginInput"
        />
        <input
          v-model="loginForm.password"
          class="p-3 mb-4 w-full border border-border"
          type="password"
          name="password"
          :placeholder="$t('forms.password')"
        />
      </div>

      <div class="flex items-center justify-center">
        <button
          class="border border-border bg-secondary p-3 hover:bg-hover hover:text-white rounded rounded-xl"
          @click.prevent="login()"
        >
          {{ $t('common.loginButton') }}
        </button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { ILoginForm } from '~/types/UserTypes'
import userService from '~/store/services/UserService'
import notificationService from '~/store/services/NotificationService'

@Component
export default class LoginForm extends Vue {
  public isSendForm: boolean = false

  public loginForm: ILoginForm = {
    email: '',
    password: '',
  }

  public get isLoading(): boolean {
    return userService.isLoading
  }

  public toLowerCaseLoginInput(): void {
    this.loginForm.email = this.loginForm.email.toLowerCase()
  }

  private validEmail(): boolean {
    const validRegex =
      /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/
    const isValid = this.loginForm.email.match(validRegex)

    if (!isValid) {
      notificationService.setNotification({
        status: 400,
        text: this.$t('errors.invalidEmail') as string,
      })
      return false
    }

    return true
  }

  private validPassword(): boolean {
    if (this.loginForm.password.length === 0) {
      notificationService.setNotification({
        status: 400,
        text: this.$t('errors.passwordIsRequired') as string,
      })
      return false
    }
    return true
  }

  public mounted(): void {
    this.redirect()
  }

  public redirect(): void {
    if (userService.token !== '') {
      this.$router.push('/products')
    }
  }

  public async login(): Promise<void> {
    this.isSendForm = true

    if (!this.validEmail() || !this.validPassword()) {
      return
    }

    await userService.login(this.loginForm).then(() => {
      if (userService.isError) {
        notificationService.setNotification({
          status: 401,
          text: this.$t('error.login') as string,
        })
        return
      }
      notificationService.setNotification({
        status: 200,
        text: this.$t('common.loginSuccess') as string,
      })
      this.redirect()
    })
  }
}
</script>

<style lang="scss" scoped>
:deep(input) {
  @apply bg-white;
}
</style>
