<template>
  <div class="c-pagination flex mx-auto">
    <nav class="mx-auto my-10">
      <ul class="inline-flex -space-x-px">
        <li>
          <button
            class="px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            @click="setPage(activePage - 1)"
          >
            {{ $t('common.prev') }}
          </button>
        </li>
        <template v-for="index in 10">
          <li
            v-if="index - activePage > -2 && index - activePage < 2"
            :key="index"
          >
            <button
              class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
              :class="{
                'px-3 py-2 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white':
                  index === activePage,
              }"
              @click="setPage(index + 1)"
            >
              {{ index }}
            </button>
          </li>
        </template>
        <li>
          <button
            class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            @click="setPage(activePage + 1)"
          >
            {{ $t('common.next') }}
          </button>
        </li>
      </ul>
    </nav>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import productService from '~/store/services/ProductService'

@Component
export default class Pagination extends Vue {
  public activePage: number = 1

  public maxPages: number = 10

  public get activeUrlpage(): string {
    if (this.$route.query.page === undefined) return ''

    return this.$route.query.page[0] ?? ''
  }

  public setPage(page: number): void {
    if (page < 1 || page > this.maxPages) return
    this.activePage = page
    this.$router.push(`products?page=${page}`)
  }

  @Watch('activePage')
  public handleActivePageChange(): void {
    productService.loadProductsPagination({
      limit: 10,
      offset: (this.activePage - 1) * 10,
    })
  }

  public mounted(): void {
    if (this.activeUrlpage) {
      this.activePage = parseInt(this.activeUrlpage)
    }
  }
}
</script>
