<template>
  <div
    class="c-productForm w-full max-w-[900px] ml-auto mr-auto mt-20 bg-bgSecondary rounded rounded-2xl absolute top-1/4 left-1/2 transform -translate-x-1/2 -translate-y-1/4"
  >
    <form class="px-8 pt-6 pb-8 mb-4">
      <p class="text-center font-bold mb-8 text-3xl">
        {{ $t('common.deleteProduct') }} {{ product.title }}?
      </p>
      <div class="flex items-center justify-center">
        <button
          class="border border-border bg-secondary p-3 hover:bg-hover hover:text-white rounded rounded-xl"
          @click.prevent="deleteProduct()"
        >
          {{ $t('common.deleteProductButton') }}
        </button>
        <button
          class="border border-border bg-color2 p-3 hover:bg-hover hover:text-white rounded rounded-xl"
          @click.prevent="$emit('close')"
        >
          {{ $t('common.closeModal') }}
        </button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { IProduct } from '~/types/ProductTypes'
import ProductService from '~/store/services/ProductService'
import notificationService from '~/store/services/NotificationService'

@Component
export default class ProductDeleteModal extends Vue {
  @Prop({ required: true })
  public product!: IProduct

  public async deleteProduct(): Promise<void> {
    await ProductService.delete(this.product.id).then(async () => {
      if (ProductService.isError) {
        notificationService.setNotification({
          status: 400,
          text: this.$t('errors.deleteProductError') as string,
        })
      } else {
        notificationService.setNotification({
          status: 200,
          text: this.$t('common.deleteProductSuccess') as string,
        })
      }
      ProductService.setProduct(null)
      await ProductService.loadProducts()
      this.$emit('close')
    })
  }
}
</script>
