<template>
  <div class="c-productsList">
    <div class="relative overflow-x-auto max-w-full w-[1200px] m-auto">
      <h1 class="mb-5 mt-10 text-2xl text-titleInverse text-center">
        {{ $t('common.products') }}
      </h1>
      <button
        class="flex ml-auto mb-5 border border-border bg-color7 p-3 hover:bg-hover hover:text-white rounded rounded-xl"
        @click="addProduct()"
      >
        {{ $t('common.addProduct') }}
      </button>
      <table class="w-full text-sm text-left text-textInverse">
        <thead class="text-xs text-textInverse uppercase bg-color2">
          <tr>
            <th scope="col" class="px-6 py-3">{{ $t('common.id') }}</th>
            <th scope="col" class="px-6 py-3">{{ $t('common.title') }}</th>
            <th scope="col" class="px-6 py-3">{{ $t('common.category') }}</th>
            <th scope="col" class="px-6 py-3">{{ $t('common.price') }}</th>
            <th scope="col" class="px-6 py-3">{{ $t('common.actions') }}</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="product in products"
            :key="product.id"
            class="bg-white border-b bg-bgDarkAccent even:bg-color2 border-gray-700"
          >
            <td class="px-6 py-4">{{ product.id }}</td>
            <td
              class="px-6 py-4 font-medium text-titleInverse whitespace-nowrap"
            >
              {{ product.title }}
            </td>
            <td class="px-6 py-4">{{ product.category.name }}</td>
            <td class="px-6 py-4">{{ product.price }}</td>
            <td class="px-6 py-4">
              <button @click="editProduct(product)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="24"
                  viewBox="0 96 960 960"
                  width="24"
                >
                  <path
                    d="M200 856h56l345-345-56-56-345 345v56Zm572-403L602 285l56-56q23-23 56.5-23t56.5 23l56 56q23 23 24 55.5T829 396l-57 57Zm-58 59L290 936H120V766l424-424 170 170Zm-141-29-28-28 56 56-28-28Z"
                  />
                </svg>
              </button>
              <button @click="deleteProduct(product)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="24"
                  viewBox="0 96 960 960"
                  width="24"
                >
                  <path
                    d="M280 936q-33 0-56.5-23.5T200 856V336h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680 936H280Zm400-600H280v520h400V336ZM360 776h80V416h-80v360Zm160 0h80V416h-80v360ZM280 336v520-520Z"
                  />
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <Pagination />
    <ProductForm v-if="isOpenProductForm" @close="closeModal()" />
    <ProductDeleteModal
      v-if="isDeleteProductModal"
      :product="produtToDelete"
      @close="toggleDeleteProductModal()"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import userService from '~/store/services/UserService'
import notificationService from '~/store/services/NotificationService'
import categoryService from '~/store/services/CategoryService'
import productService from '~/store/services/ProductService'
import ProductForm from '~/components/productForm.vue'
import { IProduct } from '~/types/ProductTypes'
import { Nullable } from '~/types/Nullable'
import Pagination from '~/components/pagination.vue'
import ProductDeleteModal from '~/components/productDeleteModal.vue'

@Component({
  components: {
    ProductForm,
    ProductDeleteModal,
    Pagination,
  },
})
export default class ProductsList extends Vue {
  public isOpenProductForm: boolean = false
  public isDeleteProductModal: boolean = false
  public produtToDelete: Nullable<IProduct> = null
  public activePage: number = 1

  public get activeUrlpage(): string {
    if (this.$route.query.page === undefined) return ''
    return this.$route.query.page[0] ?? ''
  }

  public get isLogin(): boolean {
    return userService.token !== ''
  }

  public get products(): IProduct[] {
    return productService.products
  }

  public closeModal(): void {
    this.isOpenProductForm = false
  }

  public addProduct(): void {
    productService.setProduct(null)
    this.isOpenProductForm = true
  }

  public editProduct(product: IProduct): void {
    productService.setProduct(product)
    this.isOpenProductForm = true
  }

  public toggleDeleteProductModal(): void {
    this.isDeleteProductModal = !this.isDeleteProductModal
  }

  public deleteProduct(product: IProduct): void {
    this.toggleDeleteProductModal()
    this.produtToDelete = product
  }

  public async mounted(): Promise<void> {
    if (!this.isLogin) {
      notificationService.setNotification({
        status: 500,
        text: this.$t('common.requiredLogin') as string,
      })
      this.$router.push('/')
    } else {
      if (this.activeUrlpage) {
        this.activePage = parseInt(this.activeUrlpage)
      }
      await Promise.all([
        categoryService.loadCategories(),
        productService.loadProductsPagination({
          limit: 10,
          offset: (this.activePage - 1) * 10,
        }),
      ]).then(() => {})
    }
  }
}
</script>
