<template>
  <div
    class="c-productForm w-full max-w-[900px] ml-auto mr-auto mt-20 bg-bgSecondary rounded rounded-2xl absolute top-1/4 left-1/2 transform -translate-x-1/2 -translate-y-1/4"
  >
    <form class="px-8 pt-6 pb-8 mb-4">
      <p class="text-center font-bold mb-8 text-3xl">
        <template v-if="product">{{ $t('common.editProduct') }}</template>
        <template v-else>{{ $t('common.addProduct') }}</template>
      </p>
      <div class="mb-4">
        <input
          v-model="productForm.title"
          class="p-3 mb-4 w-full border border-border"
          name="title"
          :placeholder="$t('common.title')"
        />
        <input
          v-model="productForm.description"
          class="p-3 mb-4 w-full border border-border"
          name="description"
          :placeholder="$t('common.description')"
        />
        <input
          v-model="productForm.images[0]"
          class="p-3 mb-4 w-full border border-border"
          name="image"
          :placeholder="$t('common.image')"
        />
        <input
          v-model="productForm.price"
          class="p-3 mb-4 w-full border border-border"
          type="number"
          name="price"
          :placeholder="$t('common.price')"
        />
        <vSelect v-model="selectedCategory" :options="categories">
          <template #selected-option="option">
            {{ option.name }}
          </template>
          <template #option="option">
            {{ option.name }}
          </template>
        </vSelect>
      </div>

      <div class="flex items-center justify-center">
        <button
          class="border border-border bg-secondary p-3 hover:bg-hover hover:text-white rounded rounded-xl"
          @click.prevent="addProduct()"
        >
          <template v-if="product">{{
            $t('common.editProductButton')
          }}</template>
          <template v-else>{{ $t('common.createProductButton') }}</template>
        </button>
        <button
          class="border border-border bg-color2 p-3 hover:bg-hover hover:text-white rounded rounded-xl"
          @click.prevent="$emit('close')"
        >
          {{ $t('common.closeModal') }}
        </button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import { IProduct, IProductForm } from '~/types/ProductTypes'
import { ICategory } from '~/types/CategoryTypes'
import CategoryService from '~/store/services/CategoryService'
import { Nullable } from '~/types/Nullable'
import ProductService from '~/store/services/ProductService'
import notificationService from '~/store/services/NotificationService'

@Component({
  components: {
    vSelect: () => import('vue-select'),
  },
})
export default class ProductForm extends Vue {
  public get product(): Nullable<IProduct> {
    return ProductService.product
  }

  public isSendForm: boolean = false

  public selectedCategory: Nullable<ICategory> = null

  public productForm: IProductForm = {
    title: '',
    price: 0,
    description: '',
    images: [],
    categoryId: 0,
  }

  @Watch('selectedCategory')
  public changeCategory(): void {
    this.productForm.categoryId = this.selectedCategory?.id ?? 0
  }

  public get categories(): ICategory[] {
    return CategoryService.categories
  }

  public validTitle(): boolean {
    if (this.productForm.title.length < 3) {
      notificationService.setNotification({
        status: 400,
        text: this.$t('errors.titleToSmall') as string,
      })

      return false
    }

    if (this.productForm.title.length > 64) {
      notificationService.setNotification({
        status: 400,
        text: this.$t('errors.titleToLarge') as string,
      })

      return false
    }

    return true
  }

  public validDescription(): boolean {
    if (this.productForm.description.length < 32) {
      notificationService.setNotification({
        status: 400,
        text: this.$t('errors.descriptionToSmall') as string,
      })

      return false
    }

    if (this.productForm.title.length > 128) {
      notificationService.setNotification({
        status: 400,
        text: this.$t('errors.descriptionToLarge') as string,
      })

      return false
    }

    return true
  }

  public validPrice(): boolean {
    if (this.productForm.price < 0.01) {
      notificationService.setNotification({
        status: 400,
        text: this.$t('errors.priceToSmall') as string,
      })

      return false
    }

    return true
  }

  public validCategory(): boolean {
    if (this.selectedCategory === null || this.selectedCategory === undefined) {
      notificationService.setNotification({
        status: 400,
        text: this.$t('errors.categoryIsRequired') as string,
      })

      return false
    }

    return true
  }

  public validImage(): boolean {
    if (
      this.productForm.images.length === 0 ||
      this.productForm.images[0] === ''
    ) {
      notificationService.setNotification({
        status: 400,
        text: this.$t('errors.imageIsRequired') as string,
      })

      return false
    }

    return true
  }

  public validate(): boolean {
    if (
      !this.validTitle() ||
      !this.validPrice() ||
      !this.validDescription() ||
      !this.validCategory() ||
      !this.validImage()
    ) {
      return false
    }
    return true
  }

  public async addProduct(): Promise<void> {
    this.isSendForm = true
    if (!this.validate()) {
      return
    }
    if (this.product) {
      await ProductService.update({
        id: this.product.id,
        form: this.productForm,
      }).then(async () => {
        if (ProductService.isError) {
          notificationService.setNotification({
            status: 400,
            text: this.$t('errors.editProductError') as string,
          })
        } else {
          notificationService.setNotification({
            status: 200,
            text: this.$t('common.editProductSuccess') as string,
          })
        }
        ProductService.setProduct(null)
        await ProductService.loadProducts()
        this.$emit('close')
      })
      return
    }
    await ProductService.create(this.productForm).then(async () => {
      if (ProductService.isError) {
        notificationService.setNotification({
          status: 400,
          text: this.$t('errors.addProductError') as string,
        })
      } else {
        notificationService.setNotification({
          status: 200,
          text: this.$t('common.addProductSuccess') as string,
        })
      }
      await ProductService.loadProducts()
      this.$emit('close')
    })
  }

  public mounted(): void {
    if (this.product) {
      this.productForm = {
        title: this.product.title,
        price: this.product.price,
        description: this.product.description,
        images: this.product.images,
        categoryId: this.product.category.id,
      }
      this.selectedCategory = this.product.category
    }
  }
}
</script>
