<template>
  <div class="v-homepage bg-bgDark">
    <client-only>
      <LoginForm />
      <Notification />
    </client-only>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import LoginForm from '~/components/loginForm.vue'
import Notification from '~/components/notification.vue'

@Component({
  components: {
    LoginForm,
    Notification,
  },
})
export default class IndexPage extends Vue {}
</script>
