<template>
  <div class="v-products">
    <client-only>
      <ProductsList />
      <Notification />
    </client-only>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import ProductsList from '~/components/productsList.vue'
import Notification from '~/components/notification.vue'

@Component({
  components: {
    ProductsList,
    Notification,
  },
})
export default class ProductsPage extends Vue {}
</script>
